<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Commission Cul</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2>Delete membre</h2>
        <form method="post">
            {% csrf_token %}
            <p>Are you sure you want to delete "{{ commission.nom }}"?</p>
            <button type="submit" class="btn btn-danger">Delete</button>
            <a href="{% url 'list_commission_decen' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</body>
</html>
