

  

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>liste des membres</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
   
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-md-3">
                {% include 'sidebar.html' %}
            </div>
          <!-- Main Content -->
          <div class="col-md-9 main-content">
            <div class="container my-4">
                <div class="card main-card">
                    <div class="card-body">
                        <h2 class="mb-4">Liste des Coordinations</h2>
        <input type="text" id="searchInput" class="form-control mb-4" placeholder="Rechercher...">
        <div class="table-responsive">
            <table class="table table-striped" id="membresTable">
                <thead class="thead-dark">
                <tr>
                    <th>Nom</th>
                   
                </tr>
            </thead>
            <tbody>
                {% for coord in coordination %}
                <tr>
                    <td>{{ coord.nom }}</td>
 
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="pagination justify-content-center mt-4">
            <ul class="pagination">
                {% if coordination.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">Premier</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ coordination.previous_page_number }}">Précédent</a></li>
                {% endif %}
                {% for num in coordination.paginator.page_range %}
                    <li class="page-item {% if num == coordination.number %}active{% endif %}"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                {% endfor %}
                {% if coordination.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ coordination.next_page_number }}">Suivant</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ coordination.paginator.num_pages }}">Dernier</a></li>
                {% endif %}
            </ul>
        </div>
        <!---p>Nombre total de coordinations: {{ count }}</p-->
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
